{% extends 'link_shortener_app/base.html' %}

{% block content %}
<form name="link_form" action="" method="post">

    <label for="long_link" class="text-right">Put your loooooong link here</label>

    <div class="row">
        <div class="col-9">
            {{ long_link_form }}

            {% if Invalid_Link_Error %}
                <div class="alert alert-primary" role="alert">
                    Invalid link!
                </div>
            {% elif Email_Already_Used %}
                <div class="alert alert-primary" role="alert">
                    Internal error. Please retry!
                </div>
            {% endif %}
        </div>
        <div class="col-3">
            <button class="btn btn-primary btn-block">Shorten your link</button>
        </div>
    </div>



   <br><br>
   {% if short_link_form %}
   <label for="short_link" class="text-right">Your shortened link</label>

    <div class="row">
        <div class="col-11">
            {{ short_link_form }}
        </div>
        <div class="col-1">
            <button class="btn btn-primary" onclick="copy()" id="copy_button">Copy!</button>
        </div>
    </div>
   {% endif %}

</form>
{% endblock content %}