{% extends 'link_shortener_app/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
    <form action="" method="post">

        {% if DB_Access_Error %}
        <div class="alert alert-primary" role="alert">
            DB Error!
        </div>
        {% endif %}

        {{ sign_in_form.email }}

        {% if Email_Not_Exists %}
        <div class="alert alert-primary" role="alert">
            Invalid email!
        </div>
        {% endif %}

        {{ sign_in_form.password }}

        {% if Wrong_Password %}
        <div class="alert alert-primary" role="alert">
            Wrong Password!
        </div>
        {% endif %}

        <br>
        <div class="row justify-content-between">
            <div class="col-4">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
            <div class="col-4">
                <p>
                    <a href="#">Forgot password</a>
                </p>
                <p>
                    <a href="{% url 'link_shortener_app:register'%}">Create new account</a>
                </p>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock content %}